*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'Dancing Script', cursive;
    justify-content: center;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.form {
    background-color: violet;
}

canvas {
    border: 1px;
    display: block;
    margin: 0 auto;
}